.vscode/**
.vscode-test/**
node_modules/**
!node_modules/@vscode
!node_modules/jsdom
!node_modules/pretty
!node_modules/selector-2-regexp
out/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
playwright/.cache/**
playwright-report/**
test-results/**