.github/**
.vscode/**
.vscode-test/**
node_modules/**
!node_modules/@vscode
out/**
patches/**
src/**
resources/images/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
playwright/.cache/**
playwright-report/**
test-results/**